* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    background: #cecece;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: #e8e7e7;
    box-shadow: 0 0 10px rgba(0,0,0,.4)
}
.header .logo{
    color: #222;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}
.header a span{
    color: #25ad61;
}
.header .navbar a{
    color: #000;
    text-decoration: none;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 6px;
}
.navbar a.active{
    background: #25ad61;
    color: #fff;
}
    .icon > .activity-section {
        display: inline-block;
    }
.activity-section i {
    color: #222;
    font-size: 25px;
    margin-left: 20px;
    padding: 10px;
}
.btn{
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    background: #121b46;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: 2px solid #121b46;
    cursor: pointer;
    font-weight: 600;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #e8e7e7;
    height: 100%;
    width: 00%;
    z-index: -1;
    transition: 0.3s;
}
.btn:hover:before{
    width: 100%;
}
.btn:hover{
    color: #121b46;
}

.container {
    max-width: 1170px;
    margin: auto;

}
.footer {
    background: #24242b;
    padding: 70px 0;
    margin-top: 100px;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #ffc500;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul{
    list-style: none;
}
    .footer-col ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #bbbbbb;
        display: block;
        transition: all .3s ease;
        margin-bottom: 10px;
    }
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 6px;
}
.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,.2);
    margin: 0 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;
}
    .footer-col .social-link a:hover {
        color: #24262b;
        background: #fff;
    }