
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="~/Content/DangNhap.css" />
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <span class="borderLine1"></span>
        <form>
            <h2>Đăng Nhập</h2>
            <div class="inputBox">
                <input type="text" required="required" />
                <span>Tài khoản</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" />
                <span>Mật khẩu</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Quên mật khẩu?</a>
                <a href=https://localhost:44363/Main/DangKy>
                    <span>Bạn chưa có tài khoản?</span>
                </a>
                </div>
            <input type="submit" value="Đăng Nhập" />

        </form>
    </div>
</body>
</html>
