
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Datphong</title>
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/DatPhong.css"/>
</head>
<body>
    <div class="timkiem">
        <form class="timkiem1" action="">
            <input type="text" placeholder="Tìm kiếm" name="q" />
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
    <div class="cuong1">
        <div class="container">
            <div class="card">
                <div class="imgBox">
                    <img src=https://www.hotelgrandsaigon.com/wp-content/uploads/sites/227/2017/12/GRAND_PDLK_02.jpg alt="" />
                </div>
                <div class="content">
                    <h2>Phòng 01</h2>
                    <p>Fuck U</p>
                    <p>1.900.000 VND / Ngày</p>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Đã Thêm</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="imgBox">
                    <img src=https://www.hotelgrandsaigon.com/wp-content/uploads/sites/227/2017/12/GRAND_PDLK_02.jpg alt="" />
                </div>
                <div class="content">
                    <h2>Phòng 01</h2>
                    <p>Fuck U</p>
                    <p>1.900.000 VND / Ngày</p>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Đã Thêm</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="cuong1">
        <div class="container">
            <div class="card">
                <div class="imgBox">
                    <img src=https://www.hotelgrandsaigon.com/wp-content/uploads/sites/227/2017/12/GRAND_PDLK_02.jpg alt="" />
                </div>
                <div class="content">
                    <h2>Phòng 01</h2>
                    <p>Fuck U</p>
                    <p>1.900.000 VND / Ngày</p>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Đã Thêm</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="imgBox">
                    <img src=https://www.hotelgrandsaigon.com/wp-content/uploads/sites/227/2017/12/GRAND_PDLK_02.jpg alt="" />
                </div>
                <div class="content">
                    <h2>Phòng 01</h2>
                    <p>Fuck U</p>
                    <p>1.900.000 VND / Ngày</p>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Đã Thêm</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="ThanhChuyen">
        <button class="PreviewBtn" onclick="SideSlide(-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        <div class="number">
            <span onclick="btnSlide(1)">1</span>
            <span onclick="btnSlide(2)">2</span>
            <span onclick="btnSlide(3)">3</span>
            <span onclick="btnSlide(4)">4</span>
            <span onclick="btnSlide(5)">5</span>
        </div>
        <button class="PreviewBtn" onclick="SideSlide(+1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </div>
    <script src="~/Scripts/DatPhong.js"></script>
    <script src="~/Scripts/DSPhong.js"></script>
</body>
</html>
