
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh sách phòng</title>
    <link rel="stylesheet" type="text/css" href="~/Content/DSPhong.css" />
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="heading">Danh sách phòng</h3>
        </div>
        <div class="Item-box">
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.gJA7v-1sujdRV9nfOw1QzQHaF7?pid=ImgDet&rs=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 016</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.D3fATIW_rA5OtYk3Ku0t7gHaFg?pid=ImgDet&w=828&h=616&rs=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 017</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://cf.bstatic.com/xdata/images/hotel/max500/445889252.jpg?k=e22aae17a718f8367b9d94d9bcf4d972de4d546ac2ae140b43644c1192e0e7a3&o=&hp=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 018</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.iP-De7h_gNxpFIMFpOx5dgAAAA?pid=ImgDet&rs=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 19</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.Agnx05vxmELh2ziU3NakEwHaE-?pid=ImgDet&w=910&h=612&rs=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 20</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="ThanhChuyen">
            <button class="PreviewBtn" onclick="SideSlide(-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <div class="number">
                <span onclick="btnSlide(1)">1</span>
                <span onclick="btnSlide(2)">2</span>
                <span onclick="btnSlide(3)">3</span>
                <span onclick="btnSlide(4)">4</span>
                <span onclick="btnSlide(5)">5</span>
            </div>
            <button class="PreviewBtn" onclick="SideSlide(+1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
    </div>

    <script src="~/Scripts/DSPhong.js"></script>
    <script src="~/Scripts/ShowColor4.js"></script>
</body>
</html>
