
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh sách phòng</title>
    <link rel="stylesheet" type="text/css" href="~/Content/DSPhong.css" />
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="heading">Danh sách phòng</h3>
        </div>
        <div class="Item-box">
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.ruExegInj4vNKb2FccRcQQHaEw?w=205&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 06</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.oz3yhOUr-blP6HzE9s4JwAHaE8?w=267&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 07</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.yML0wky3LH3YldktK_mC9gHaEc?w=304&h=182&c=7&r=0&o=5&dpr=1.5&pid=1.7 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 08</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.djZsJmP81sY7YZ5hNfrxGAHaDg?pid=ImgDet&rs=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 09</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://ui.cltpstatic.com/places/hotels/1356/1356362/images/108006211_w.jpg alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 010</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="ThanhChuyen">
            <button class="PreviewBtn" onclick="SideSlide(-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <div class="number">
                <span onclick="btnSlide(1)">1</span>
                <span onclick="btnSlide(2)">2</span>
                <span onclick="btnSlide(3)">3</span>
                <span onclick="btnSlide(4)">4</span>
                <span onclick="btnSlide(5)">5</span>
            </div>
            <button class="PreviewBtn" onclick="SideSlide(+1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
    </div>

    <script src="~/Scripts/DSPhong.js"></script>
    <script src="~/Scripts/ShowColor2.js"></script>
</body>
</html>
