
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh sách phòng</title>
    <link rel="stylesheet" type="text/css" href="~/Content/DSPhong.css" />
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="heading">Danh sách phòng</h3>
        </div>
        <div class="Item-box">
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.ovmc6NX-UjbqZDZt-k3QzQAAAA?pid=ImgDet&rs=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 011</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://pix10.agoda.net/hotelImages/538068/-1/cd88020ad1843804fffc55b833ea3de1.jpg alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 012</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/R.bb8ed9e35ff5ea56f078797745f03c11?rik=rxQjskYjNHHHUw&riu=http%3a%2f%2fpix6.agoda.net%2fhotelImages%2f551%2f551951%2f551951_14082213140021470485.jpg&ehk=pO8Mbi5XO%2fMXs6h5e8mQfjpu9DK1NpBhM2Oi2Zl%2bQdU%3d&risl=&pid=ImgRaw&r=0 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 013</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://ui.cltpstatic.com/places/hotels/3176/317639/images/deluxeroom__2__w.jpg alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 014</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.A1K3o-QaJ3ttpGl_gf-Q0QHaEc?pid=ImgDet&w=767&h=460&rs=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 015</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="ThanhChuyen">
            <button class="PreviewBtn" onclick="SideSlide(-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <div class="number">
                <span onclick="btnSlide(1)">1</span>
                <span onclick="btnSlide(2)">2</span>
                <span onclick="btnSlide(3)">3</span>
                <span onclick="btnSlide(4)">4</span>
                <span onclick="btnSlide(5)">5</span>
            </div>
            <button class="PreviewBtn" onclick="SideSlide(+1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
    </div>

    <script src="~/Scripts/DSPhong.js"></script>
    <script src="~/Scripts/ShowColor3.js"></script>
</body>
</html>
