
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh sách phòng</title>
    <link rel="stylesheet" type="text/css" href="~/Content/DSPhong.css" />
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="heading">Danh sách phòng</h3>
        </div>
        <div class="Item-box">
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.9kPsEoHhSyE_pCG2_iAOsQHaE7?pid=ImgDet&w=2106&h=1400&rs=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 021</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/OIP.79AD2HGZzowkCqH9VqzESwHaE7?pid=ImgDet&rs=1 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 022</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://www.ministryofvillas.com/wp-content/uploads/2014/02/bali-amadeavillas-04-800x480.jpg alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 023</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://th.bing.com/th/id/R.cbcd4d83c84d65e0370d1918bbcf4df3?rik=%2bZ4HjyZ07CRYRg&riu=http%3a%2f%2fwww.amaliahotellampung.com%2fwp-content%2fuploads%2f2021%2f01%2fVIDEO-CORPORATE-10-AMALIA0-%E2%80%93-DESTINATION-65-Medium-768x511.jpg&ehk=5cgpINNK9fzwyvDTzzOZcGrpcztu3vINDLT1Hs0iVP8%3d&risl=&pid=ImgRaw&r=0 alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 024</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://pix10.agoda.net/property/2047244/14861352/a81404b2dbce249b4b7d82d32451d762.jpg alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 025</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="ThanhChuyen">
            <button class="PreviewBtn" onclick="SideSlide(-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <div class="number">
                <span onclick="btnSlide(1)">1</span>
                <span onclick="btnSlide(2)">2</span>
                <span onclick="btnSlide(3)">3</span>
                <span onclick="btnSlide(4)">4</span>
                <span onclick="btnSlide(5)">5</span>
            </div>
            <button class="PreviewBtn" onclick="SideSlide(+1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
    </div>

    <script src="~/Scripts/DSPhong.js"></script>
    <script src="~/Scripts/ShowColor5.js"></script>
</body>
</html>
