
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GiaoDien</title>
    <link rel="stylesheet" type="text/css" href="~/Content/GiaoDien.css" />
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="heading">Danh sách phòng</h3>
            <h5 class="action">Thoát</h5>
        </div>
        <div class="Item-box">
            <div class="addtocart">
                <div class="image">
                    <img src=https://www.hotelgrandsaigon.com/wp-content/uploads/sites/227/2017/12/GRAND_PDLK_02.jpg alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 01</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://kksapahotel.com/uploads/images/VQK_2153%20(1).jpg alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 02</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="addtocart">
                <div class="image">
                    <img src=https://ezcloud.vn/wp-content/uploads/2019/07/4649_abc-1.jpg.webp alt="" />
                </div>
                <div class="cuong">
                    <h2>Phòng 03</h2>
                    <h1>
                        Giới thiệu: Phòng này xịn lắm tin bọn tui đi.
                    </h1>
                    <h1>Giá: 1.299.999 VNĐ / 1 ngày</h1>
                    <button class="btn">
                        <i class="fas fa-cart-shopping"></i>
                        <i class="fas fa-box"></i>
                        <span class="addCart">Thêm Phòng</span>
                        <span class="Added">Thêm thành công</span>
                    </button>
                    <button class="btnxtt">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
            </div>
    </div>
    <script src="~/Scripts/GiaoDien.js"></script>
</body>
</html>
