
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/LayOut.css" />
    <title>Thanh điều hướng</title>
    <link href="http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Bảo<span>Cường</span></a>
        <nav class="navbar">
            <a href="" class="active">Trang Chủ</a>
            <a href=https://localhost:44363/Main/DSPhong>Đặt Phòng</a>
            <a href="">Dịch Vụ</a>
            <a href="">Thông tin</a>
        </nav>
        <div class="icon">
            <div class="activity-section">
                    <a href="">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                    </a>
            </div>
            <div class="activity-section">
                    <a href="">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
            </div>
        </div>
        <a href="">
            <button class="btn">Đăng Nhập</button>
        </a>
    </header>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Thông tin</h4>
                    <ul>
                        <li><a href="">Địa chỉ</a></li>
                        <li><a href="">Số điện thoại</a></li>
                        <li><a href="">Người tạo ra web</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Đối tác</h4>
                    <ul>
                        <li><a href="">ASP.Net</a></li>
                        <li><a href="">ChatGPT</a></li>
                        <li><a href="">Bing AI</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-link">
                        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
