
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThongTin</title>
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/ThongTin.css" />
</head>
<body>
    <div>
        <span class="title">Thông tin phòng</span>
    </div>
    <table class="table-a">
        <tr>
            <td>Mã Phòng</td>
            <td>Số Phòng</td>
            <td>Tình trạng Phòng</td>
            <td>Loại Phòng</td>
            <td>Hình Ảnh</td>
            <td>Ngày cập nhật</td>
            <td>Xử lý</td>
        </tr>
        <tr>
            <td>P01</td>
            <td>01</td>
            <td>Còn trống</td>
            <td>Vip</td>
            <td><img class="hinhanh" src="https://images.pexels.com/photos/2034335/pexels-photo-2034335.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""/></td>
            <td>2023</td>
            <td>
                <button class="btn">Sửa</button>
                <br />
                <button class="btn">Xóa</button>
            </td>
        </tr>
    </table>
    <div>
        <button class="btnadd">Thêm phòng</button>
    </div>
</body>
</html>
