
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrangCaNhan</title>
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/TrangCaNhan.css" />
</head>
<body>
    <div class="khung">
        <header class="header">
            <img class="img" src="https://www.tradeinn.com/f/13888/138888569/toei-animation-one-piece-monkey-d-luffy-3d-35-cm.jpg" alt="" />
            <h1 class="h1">Trần Quang Cường</h1>
        </header>
        <div class="ul">
            <div>
                <li class="li">
                    Tên:
                    <br />
                    <input />
                </li>
                <li class="li">
                    Ngày sinh:
                    <br />
                    <input />
                </li>
                <li class="li">
                    Địa chỉ:
                    <br />
                    <input />
                </li>
                <li class="li">
                    Số điện thoại:
                    <br />
                    <input />
                </li>
                <button class="btnql">Quay lại</button>
                <button class="btn">Lưu</button>
            </div>
        </div>
    </div>
</body>
</html>
