
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XoaPhong</title>
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/XoaPhong.css" />
</head>
<body>
    <div> 
    </div>
</body>
</html>
